/* 去除页面默认的边框设置, 并将页面撑满 */
body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    /*background-color: #E1F3Fd;*/
    /*overflow:hidden*/
}

* {
    font-size: 18px;
    font-family: Arial;
}

.titlebar {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.9);
    font-family: sans-serif;
    text-align: center;
    line-height: 1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    max-width: 100%;
    max-height: 56px;
    height: 55px;
    width: 100%;
    /*border-bottom: 1px solid #ffffffa0;*/
    box-shadow: 0px 2px 1px rgba(255, 255, 255, 0.9);
    z-index: 1;
}

h1 {
    display: block;
    font-size: 1.2em;
    font-weight: normal;
    text-align: center;
    line-height: 30px;
    height: 55px;
    margin: 0.67em 0;
}

.navcontainer {
    position: relative; padding-top: 58px; padding-bottom: 14px;
}

.navlist {
    text-align: center;
    margin: 0 auto;
    width: 90%;
    /*margin-top: 60px;*/
    padding-top: 1%;
}

#nav ul {
    padding: 0px 0px;
}

#nav li {
    list-style: none;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

#nav li a {
    text-decoration: none;
    line-height: 52px;
    width: 100%;
    color: #FFFFFF;
    font-size: 18px;
}

#nav li a:hover {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
}

.aa {
    border-top: 6px solid #01579b;
    background: #039be5;
}

.bb {
    border-top: 6px solid #006064;
    background: #00acc1;
}

.cc {
    border-top: 6px solid #004d40;
    background: #00897b;
}

.qrcode {
    margin-top: 20px;
}

span {
    display: none;
}