.figure
    .mj
        .head
            .nose
            .hair
                .ponytail
                .frontpony
        .body
            .jacket
                .hand
        .leg
            .foot
        .leg.lft
            .foot
    .error-no
        span 4
        .moon
        span 4