body {
    margin: 0;
    background-color: #f7f6f2;
    overflow: hidden;
  }
  
  .container {
    display: flex;
    justify-content: center;
    max-height: 100vmin;
    max-width: 100vmin;
    margin: 0 auto;
  }
  
  .globe {
    height: 100vmin;
    width: auto;
    cursor: grab;
  }
  
  .globe--dragging {
    cursor: grabbing;
  }